{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="container-lg d-grid gap-2 col-12 mt-3"">
    <form method="POST">
    {% csrf_token %}

        <div class="d-flex justify-content-between align-items-center mb-2">
            <h1>Özellikler</h1>
            <div>
                <a class="btn btn-outline-danger" href="{% url 'exit' %}" >Exit</a>
            </div>
        </div>    

        <div class="input-group input-group mb-3">       
            <span class="input-group-text">Tarih</span>               
            <input type="date" class="form-control" value="" name="date" required>
        </div>
        <div class="input-group input-group mb-3">       
            <span class="input-group-text" >Model</span>               
            <select class="form-select" name="model" required>
                <option selected value="">Seçiniz...</option>
                <option value="AYAZ SMART">Ayaz Smart</option>
                <option value="AYAZ COMFORT">Ayaz Comfort</option>
                <option value="AYAZ PREMIUM">Ayaz Premium</option>
                <option value="AYAZ OFFROAD SMART">Ayaz OffRoad Smart</option>
                <option value="AYAZ OFFROAD COMFORT">Ayaz OffRoad Comfort</option>
                <option value="AYAZ OFFROAD PREMIUM">Ayaz OffRoad Premium</option>
                <option value="ARKUT SMART">Arkut Smart</option>
                <option value="ARKUT COMFORT">Arkut Comfort</option>
                <option value="ARKUT PREMIUM">Arkut Premium</option>
                <option value="ALADA PREMIUM">Alada Premium</option>
                <option value="GREDIA PREMIUM">Gredia Premium</option>
            </select>
        </div>
        <div class="input-group input-group mb-3">       
            <span class="input-group-text" >Şasi No.</span>               
            <input type="text" class="form-control" placeholder="NR95K110X1P324XXX" name="chassis" minlength="17" maxlength="17" required>
        </div>
        <div class="d-grid gap-2 col-3 mx-auto">
            <button class="btn btn-outline-success" type="submit" >Başla</button>
        </div>
    </form>

    <div class="mt-3">
        <h2 class="mb-3">Tüm İşlemler</h2>
        
        <div class="accordion" id="accordionFlush">
            {% for ayaz in ayazlar %}
                <div class="accordion-item">
                    <h2 class="accordion-header">
                      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#{{ayaz.chassis}}" aria-expanded="false" aria-controls="{{ayaz.chassis}}">
                        {{ayaz.chassis}} - {{ayaz.model}}
                      </button>
                    </h2>
                    <div id="{{ayaz.chassis}}" class="accordion-collapse collapse" data-bs-parent="#accordionFlush">
                      <div class="accordion-body">
                        --
                      </div>
                    </div>
                </div>
            {% endfor %}    
            {% for arkut in arkutlar %}
                <div class="accordion-item">
                    <h2 class="accordion-header">
                      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#{{arkut.chassis}}" aria-expanded="false" aria-controls="{{arkut.chassis}}">
                        {{arkut.chassis}} - {{arkut.model}}
                      </button>
                    </h2>
                    <div id="{{arkut.chassis}}" class="accordion-collapse collapse" data-bs-parent="#accordionFlush">
                      <div class="accordion-body">
                        --
                      </div>
                    </div>
                </div>
            {% endfor %}    
            {% for alada in aladalar %}
                <div class="accordion-item">
                    <h2 class="accordion-header">
                      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#{{alada.chassis}}" aria-expanded="false" aria-controls="{{alada.chassis}}">
                        {{alada.chassis}} - {{alada.model}}
                      </button>
                    </h2>
                    <div id="{{alada.chassis}}" class="accordion-collapse collapse" data-bs-parent="#accordionFlush">
                      <div class="accordion-body">
                        --
                      </div>
                    </div>
                </div>
            {% endfor %}    
            {% for gredia in gredialar %}
                <div class="accordion-item">
                    <h2 class="accordion-header">
                      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#{{gredia.chassis}}" aria-expanded="false" aria-controls="{{gredia.chassis}}">
                        {{gredia.chassis}} - {{gredia.model}}
                      </button>
                    </h2>
                    <div id="{{gredia.chassis}}" class="accordion-collapse collapse" data-bs-parent="#accordionFlush">
                      <div class="accordion-body">
                        --
                      </div>
                    </div>
                </div>
            {% endfor %}    
        </div>   

    </div>

</div>
{% endblock %}