{% extends "base.html" %}
{% load static %}

{% block content %}

<div class="d-flex mx-2">
    <table class="table table-bordered table-responsive table-striped table-hover ">
        <thead>
            <th>No.</th>
            <th>Kontrol Bölümleri</th>
            <th>GEÇTİ</th>
            <th>KALDI</th>
        </thead>
        <tbody>
            <tr>
                <td>A</td>
                <td>B</td>
                <td>C</td>
                <td>D</td>
            </tr>
        </tbody>
    </table>
</div>

{% endblock %}