{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="container-sm mt-5">
    <div class="mb-5 mx-auto text-center">
        <img class="d-inline" style="max-width:10rem;" src="/static/img/5K.svg" alt="Logo">
    </div>
    <div class="">
        <form method="POST">
            {% csrf_token %}
            {% if error %}
                <div class="alert alert-danger">
                    {{error}}
                </div>
            {% endif %}
            <div class="input-group input-group-lg mb-3">
                <span class="input-group-text" id="User">Kullanıcı Adı</span>          
                <input type="text" class="form-control" name="username" aria-describedby="User">
            </div>
            
            <div class="input-group input-group-lg mb-3">
                <span class="input-group-text" id="Pass">Parola</span>          
                <input type="password" class="form-control" name="password" aria-describedby="Pass">
            </div>
            <div class="d-grid gap-2 col-6 mx-auto">
                <button class="btn btn-lg btn-outline-info" type="submit" >Giriş</button>
            </div>
        </form>
    </div>
</div>
{% endblock %}